
  @for (opc of menu; track $index) {
    <ion-menu-toggle autoHide="false">
      <ion-item [routerLink]="[opc.enlace]" detail lines="full"  
      button routerDirection="forward"
      >
      <!-- (click)="closeMenu()" -->
        <ion-label>{{opc.name}}</ion-label>
        <ion-icon slot="start" [name]="opc.icon"></ion-icon>
      </ion-item>
    </ion-menu-toggle>
  }


  <ion-item>
    <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)" justify="space-between"
      >Dark Mode</ion-toggle
    >
  </ion-item>

