<ion-app>

  <ion-router-outlet></ion-router-outlet>
  <!-- <ion-content>
    <ion-icon (click)="showLoading()" name="home"></ion-icon>
    <ion-icon name="logo-ionic"></ion-icon>
    <ion-icon name="logo-ionic" size="large"></ion-icon>
    <ion-icon name="logo-ionic" color="primary"></ion-icon>
    <ion-icon name="logo-ionic" size="large" color="primary"></ion-icon>
    
    <ion-icon name="logo-whatsapp" size="large" color="primary"></ion-icon>
    
    <ion-icon name="heart" aria-hidden="true"></ion-icon>
    
    <ion-button aria-label="Favorite" (click)="nada()">
      <ion-icon name="heart" aria-hidden="false"></ion-icon>
    </ion-button>
    
    <ion-label></ion-label>
    
    <ion-icon name="add-circle-outline"></ion-icon>

  </ion-content> -->






</ion-app>
