<ion-header>
    <ion-toolbar>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>

    <!-- <app-header titulo="Home"></app-header> -->
    <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Home</ion-title>
        </ion-toolbar>
      </ion-header>


    <app-detail-carrito></app-detail-carrito>

    @if (!cargando) {
        @for (article of articles; track $index) {
            <app-article [article]="article"></app-article>
        } @empty {
            
        }
    } @else {
        <p style="text-align: center;">cargando...</p>
    }

   
    

    

    
    <app-footer></app-footer>

  
</ion-content>





